[user]
	name = Paulius Giniūnas
    email = paulius.giniunas@gmail.com

[init]
    defaultBranch = main

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
    clean = git-ls clean -- %f

[core]
    editor = code --wait

[pull]
    rebase = false

[commit]
    template = ~/.gitconfig_commit_template

[alias]
	lg = !"echo '' && echo 'Newer commits at the top ⬆️, older commits at the bottom ⬇️' && echo '' && git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s%n%b %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
