<!-- 
/Users/paulius/Library/LaunchAgents/
launchctl bootout gui/$(id -u) ~/Library/LaunchAgents/com.update-dotfiles.daily.plist
launchctl bootstrap gui/$(id -u) ~/Library/LaunchAgents/com.update-dotfiles.daily.plist
launchctl print gui/$(id -u)/com.update-dotfiles.daily
-->
 
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.update-dotfiles.daily</string>

    <key>WorkingDirectory</key>
    <string>/Users/paulius/.dotfiles</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/paulius/.dotfiles/update-dotfiles.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>60</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/update-dotfiles.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/update-dotfiles.err</string>
</dict>
</plist>